header {
    background: url(..//Imagens/bg.png);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

h1 {
    position: absolute;
    top: 15px;
    left: 0;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    
}

#banner {
    display: block;
    margin-left: 200px;
}

nav {
    position: absolute;
    top: 25px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

nav a:hover {
    color:#FF7A14;
    text-decoration: underline;
}

.games {

    display: flex;
    flex-direction: column;
    width: 940px;
    margin: 0 auto;
    padding: 50px ;
}


.games li {
    display: inline-block;
    text-align: center;
    width: 100%;
    vertical-align: top;
    margin: 5% 0;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.games li:hover {
    border-color: #FF7A14;
}

.games li:active {
    border-color: #6EFFEA ;
}

.games li:hover h2 {
    font-size: 35px;

}

.games h2 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}

.game-descricao {
    padding-top: 10px;
    font-size: 20px;
}


footer {
    text-align: center;
    background: url("../Imagens/bgfooter.png");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

.linkedin {

    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;

}